.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: var(--width-default-layout);
  padding: 0 var(--default-layout-horizontal-spacer);
  margin-top: var(--height-default-layout-header);
  display: flex;
}
.content {
  flex: 1;
}
